
.content {
  width: 176px + 48px;
  margin: -24px;
  padding: 24px;
  display: flex;
  flex-flow: row wrap;
  
  .left {
    width: 100%;
  }
}

.mat-form-field {
  width: 100%;

  input {
    text-transform: uppercase;
  }
}

.mat-raised-button {
  width: 100%;
}
