.content {
  max-height: 500px;
  min-height: auto;
  overflow-y: auto;
  padding: 4px;
  width: 256px;
  
  .quote {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }
  
  .mat-divider {
    margin-bottom: 16px;
  }
  
    
  .mat-expansion-panel  {
    width: 200px + 48px;
  }
    
  .mat-card {
    height: 97px;
    margin-bottom: 16px;
    border: 1px solid black;
    
    .indicator {
      background: black;
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }
    
    .mat-card-content {
      display: flex;
      flex-flow: row wrap;
      
    }

    .icon {
      width: 30%;
      
      > .mat-icon-button,
      > div > .mat-icon-button {
        margin-left: 20px;
        transform: translateY(-9px);
      }
    }
    
    .text {
      width: 70%;
      // transform: translate(-40px, -40px);
      
      p {
        margin: 0;
        text-align: center;
      }
    }
  }
  
  .mat-card:last-child {
    margin: 0;
  }
  
}
